In [2]:
#import dependencies
import pandas as pd

from pprint import pprint
import matplotlib.pyplot as plt

In [5]:
unemp_df = pd.read_csv("Resources/unemployment_rate_by_age_groups.csv")
unemp_df.head()

,Area Type,Area Name,Date,Year,Month,Age 16-19,Age 20-24,Age 25-34,Age 35-44,Age 45-54,Age 55-64,Age 65+
0,State,California,2/1/2008,2008,February,0.184,0.093,0.053,0.040,0.041,0.039,0.048
1,State,California,3/1/2008,2008,March,0.187,0.096,0.054,0.041,0.042,0.038,0.050
2,State,California,4/1/2008,2008,April,0.187,0.097,0.055,0.043,0.043,0.037,0.050
3,State,California,5/1/2008,2008,May,0.187,0.101,0.057,0.044,0.045,0.036,0.050
4,State,California,6/1/2008,2008,June,0.191,0.105,0.059,0.044,0.046,0.038,0.048

In [10]:
unemp_by_state = unemp_df.set_index("Area Name")
unemp_by_state

,Area Type,Date,Year,Month,Age 16-19,Age 20-24,Age 25-34,Age 35-44,Age 45-54,Age 55-64,Age 65+
Area Name,,,,,,,,,,,
California,State,2/1/2008,2008,February,0.184,0.093,0.053,0.040,0.041,0.039,0.048
California,State,3/1/2008,2008,March,0.187,0.096,0.054,0.041,0.042,0.038,0.050
California,State,4/1/2008,2008,April,0.187,0.097,0.055,0.043,0.043,0.037,0.050
California,State,5/1/2008,2008,May,0.187,0.101,0.057,0.044,0.045,0.036,0.050
California,State,6/1/2008,2008,June,0.191,0.105,0.059,0.044,0.046,0.038,0.048
...,...,...,...,...,...,...,...,...,...,...,...
California,State,11/1/2023,2023,November,0.159,0.080,0.052,0.039,0.028,0.033,0.039
California,State,12/1/2023,2023,December,0.168,0.079,0.053,0.039,0.029,0.034,0.037
California,State,1/1/2024,2024,January,0.169,0.079,0.053,0.040,0.032,0.035,0.039
California,State,2/1/2024,2024,February,0.175,0.081,0.052,0.040,0.033,0.035,0.040
California,State,3/1/2024,2024,March,0.179,0.083,0.052,0.039,0.033,0.034,0.040

In [11]:
unemp_df["Area Name"].unique()

array(['California'], dtype=object)